/*
* @Author: Gilles Coomans
* @Date:   2017-02-11 23:22:19
* @Last Modified by:   Gilles Coomans
* @Last Modified time: 2017-02-12 00:10:58
*/

.content {
    margin-top: 40px;
    margin-left: 250px;
    padding: 50px 50px 10px 50px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3 {
    font-family: 'Bungee Hairline';
}

.content .detail > h1 {
    margin-top: 40px;
}

.content h1 {
    font-family: 'Bungee Hairline';
    border-bottom: 1px dashed #DDD;
}

.content h2 {
    margin-top: 60px;
    font-family: 'Bungee';
}

.content .detail > h3 {
    border-radius: 5px;
    background: #caebf1;
    padding: 5px 10px;
}

table.summary thead {
    background: #5990a7;
}

[data-ice="memberDetails"] h3 {
    background: #EFE0C0;
}

.content .detail .access {
    font-weight: 600;
    margin-right: 10px;
}

.navigation {
    border-right: 1px dashed #ddd;
}

.kind-function {
    color: #7A0053;
    background-color: #D5A5C1;
}

.kind-class,
.kind-external,
.kind-variable,
.kind-function {
    padding: 4px;
}

.summary div[data-ice="description"] p {
    color: #444;
    font-size: 14px;
    padding: 7px;
}
